<!-- wp:template-part {"slug":"header","theme":"wealth-wise","tagName":"header"} /-->

<!-- wp:pattern {"slug": "wealth-wise/header-001"} /-->

<!-- wp:pattern {"slug": "wealth-wise/content-003"} /-->

<!-- wp:pattern {"slug": "wealth-wise/layout-002"} /-->

<!-- wp:pattern {"slug": "wealth-wise/content-001"} /-->

<!-- wp:pattern {"slug": "wealth-wise/cta-003"} /-->

<!-- wp:pattern {"slug": "wealth-wise/cta-002"} /-->

<!-- wp:template-part {"slug":"footer","theme":"wealth-wise","area":"footer"} /-->